<div class="privew">
  <div class="questionsBox">
    <div class="questions">Flutter is a</div>
    <div class="funkyradio">
      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r1" />
        <label for="r1">Third Option success</label>
      </div>

      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r2" />
        <label for="r2">Third Option success</label>
      </div>
      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r3" />
        <label for="r3">Third Option success</label>
      </div>

      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r4" />
        <label for="r4">Third Option success</label>
      </div>
    </div>
  </div>
</div>
