<div class="privew">
  <div class="questionsBox">
    <div class="questions">
      <label for="question">Q1</label>
      <input
        id="question"
        class="questionTxt"
        type="text"
        value="Flutter is a"
      />
    </div>
    <div class="funkyradio">
      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r1" />
        <label type="text" for="r1" value="hh">
          <input type="text" class="answerTxt" value="" />
        </label>
      </div>
      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r2" />
        <label type="text" for="r2" value="hh">
          <input type="text" class="answerTxt" value="" />
        </label>
      </div>

      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r3" />
        <label type="text" for="r3" value="hh">
          <input type="text" class="answerTxt" value="" />
        </label>
      </div>

      <div class="funkyradio-check">
        <input type="radio" name="radio" id="r4" />
        <label type="text" for="r4" value="hh">
          <input type="text" class="answerTxt" value="" />
        </label>
      </div>
    </div>
  </div>

  <div class="">
    <button class="button buttonOk">Save</button>
    <button class="button buttonKo">Cancel</button>
  </div>
</div>
